<div class="userProfile">
  <section style="background:#efefe9;">
    <div class="container">
      <div class="row">
        <div class="board">
          <%= render "profile_board_inner" %>
          <div class="tab-content">
            <div class="finalizeProfile">
              <i class="glyphicon glyphicon-ok"></i>
            </div>
            <h3 class="head text-center">Congratulation! Your profile is ready to go.</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>