        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Welcome to the World of Courtship</h2>
                </div>
                <div class="col-md-6">
                    <p><strong>Discover the Secret to Success With Women</strong></p>
                   
                        <li>Say Goodbye to "Hook Up Culture"</li>
                        <li>Switch on to a "Courting Mood"</li>
                        <li>Build "Strong Foundation" </li>
                        <li>Make every "Effort" to  successful and a happy relationship</li>
                    </ul>
                    
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="images/Romantic4.jpg">
                </div>
            </div>
            <br />
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <p> Meet real single people who are Wonderful and Sincere in  finding true love.</p>
                    </div>
                    <div class="col-md-4">
                        <%= link_to 'Join Free Today', new_user_registration_path, class: 'btn btn-lg btn-default btn-block' %>
                    </div>
                </div>
            </div>



            <!-- Courtmetrue Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What's CourtMeTrue</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>CourtMeTrue - is a place for singles who understands that the process to success for a happy relationship could be done through Courtship.</p>
                </div>
                <div class="col-lg-4">
                    <p>CourtMeTrue  -  is a place where you can meet singles all over the world who are up front that their intentions are to see if the other person is a suitable potential marriage partner.

 </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">




                </div>
            </div>
        </div>
    </section>


            <!-- Woman's gallery  Section -->
            <!-- /.row -->
            <!-- Portfolio Section -->

                <div class="row">
                <div class="col-lg-12">

                    <ol class="breadcrumb">
                    <li>
                        <%= link_to 'Find Her', new_user_registration_path %>
                    </li>
                    <li class="active">Find your True Love</li>
                </ol>


                </div>
                </div>

             <div class="row">

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://lorempixel.com/300/250/people/9" alt="">
                            <div class="caption">
                                <h4>Amira</h4>

                            </div>
                            <div class="ratings">
                                
                               
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://lorempixel.com/300/250/fashion/6" alt="">
                            <div class="caption">
                                <h4>Rose</h4>

                            </div>
                            <div class="ratings">
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://lorempixel.com/300/250/people/1" alt="">
                            <div class="caption">

                                <h4>Anastasia</h4>

                            </div>
                            <div class="ratings">
                                
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">

                                <h4>Kelly</h4>

                            </div>
                            <div class="ratings">
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">

                                <h4>Jina</h4>

                            </div>
                            <div class="ratings">
                              
                            </div>
                        </div>
                    </div>
                             <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">

                                <h4>Kristene</h4>

                            </div>
                            <div class="ratings">
                                
                            </div>
                        </div>
                    </div>

                </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <p>Start to connect with beautiful and  descent single women and  discover the "real one" behind the screen.
</p>
                    </div>
                </div>
            </div>


             <!--Me's gallery Section -->
            <!-- /.row -->
            <!-- Portfolio Section -->

                <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                    <li>
                        <%= link_to 'Find Him', new_user_registration_path %>
                    </li>
                    <li class="active">Find your True Love</li>
                </ol>


                </div>
                </div>

             <div class="row">

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://lorempixel.com/300/250/business/7" alt="">
                            <div class="caption">

                                <h4>Jerry</h4>

                            </div>
                            <div class="ratings">
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">
                                 <h4>Aldrin</h4>

                            </div>
                            <div class="ratings">
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">

                                <h4>Kenneth</h4>

                            </div>
                            <div class="ratings">
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">

                                <h4>Wayne</h4>

                            </div>
                            <div class="ratings">
                                
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">

                                <h4>Ethan</h4>

                            </div>
                            <div class="ratings">
                                
                            </div>
                        </div>
                    </div>
                             <div class="col-sm-2 col-lg-2 col-md-2">
                        <div class="thumbnail">
                            <img src="http://placehold.it/300x250" alt="">
                            <div class="caption">

                                <h4>Theo</h4>

                            </div>
                            <div class="ratings">
                           
                            </div>
                        </div>
                    </div>

                </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <p>Start to connect with real single man today who are sincere in finding the "One"
</p>
                    </div>
                </div>
            </div>



 <!-- Sucess Stories Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Success Stories
                <small>We'd love to hear from you.</small>
            </h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Share  your Stories with us</a>
                </li>
                <li class="active">If you found your true love on here, We'd love to hear from you.</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    
            <div class="container" id="testimonials-row">
<div class="row">
<div class="col-md-12 column">
<h2 class="page-header"><small > Our members love us!</small></h2>
<div class="carousel slide" id="testimonials-rotate">
<ol class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#testimonials-rotate">
</li>
<li data-slide-to="1" data-target="#testimonials-rotate">
</li>
    
<li data-slide-to="2" data-target="#testimonials-rotate">
</li>
  <li data-slide-to="3" data-target="#testimonials-rotate">
</li>  
    <li data-slide-to="4" data-target="#testimonials-rotate">
</li>
    <li data-slide-to="5" data-target="#testimonials-rotate">
</li>
    <li data-slide-to="6" data-target="#testimonials-rotate">
</li>
    <li data-slide-to="7" data-target="#testimonials-rotate">
</li>
    <li data-slide-to="8" data-target="#testimonials-rotate">
</li>
    <li data-slide-to="9" data-target="#testimonials-rotate">
</li>
    <li data-slide-to="10" data-target="#testimonials-rotate">
</li>
</ol>
<div class="carousel-inner">
<div class="item active">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
I finally found the one who truly love and respect me. A lot of thanks to CourtMeTrue. - <small>loraine and Gab </small>
</h3>

</div>

<div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
I discover the person behind the screen Ive been chating. When I first courted her, it was awesome and I realize my effort is worth it. We respect each other and we all know what we want. - <small> Jerry and my love of my life</small>
</h3>

</div>
    
    
<div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
I've been chatting him online. I meet him at the aiport with my sister. He then started to court me, he is very respectful. My parents is really happy for me that I finally found the one to grow old with. - <small> Cynthia/Robert</small>
</h3>

</div>

    <div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
We manage to do the courtship healthy and it's a great achievement towards to sucess for a happy marriage. - <small> Zonia/Billy</small>
</h3>

</div>
    
    <div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
Thanks God, I won her heart. She is the woman Ive been waiting for. I'm really happy. - <small> George love Chinye</small>
</h3>

</div>
    <div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
I didnt know courtship will work. I thought it's a waste of time. but i realized that we all need to make effort to get what we want, especially on finding true love. Me and my wife now, we both know that we are going to keep the relationship happy and healthy. - <small> Markch/Leah</small>
</h3>

</div>
    <div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
When danny started to court me, I feel like being adored and really got the respect I deserve. I'am so happy, and I will love him for the rest of my life. Danny deserves it. - <small> Eljay/Danny</small>
</h3>

</div>
    <div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
I never been doing a courtship thing before, but all I can say "it's worth it". Ive got mine now. Thanks - <small> Gerald/Kristal</small>
</h3>

</div>
    
    <div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
Thanks to CourtMeTrue who coach me and give me some ideas how to court the woman I'm really Interested in. She's  my girl friend now, and still on the process of our wedding plans. - </small> Anthony and myla </small>
</h3>

</div>
    
    <div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
I found mywife on here, she told me she had so many dating hooks up before but they we're all gone.No ones stays. She realized that it was totally different when I began to courted her. We now happily marriage. - <small> Kevin/Julia</small>
</h3>

</div>
<div class="clearfix"></div>
</div>
<div class="item">
<div class="col-md-2"><img alt="" src="http://lorempixel.com/200/200" class="img-circle img-responsive"/></div>
<div class="testimonials col-md-10">

<h3>
I'm so glad I've found the real man. He is very respectful and polite, my parents love him too. - <small>Amanda/Nick</small>
</h3>

</div>

<div class="clearfix"></div>
</div>
</div>
</div>
<div class="pull-right">
<a class="left" href="#testimonials-rotate" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a class="right" href="#testimonials-rotate" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a><div class="clearfix"></div>
</div>
</div>
</div>

</div><!--end of container-->
            <!-- /.row -->
            <!-- Features Section -->
            <!-- /.row -->
            <hr>
            <!-- Call to Action Section -->

            <hr>


 <!-- /.container -->
