
<% content_for :title do %>About<% end %>
<!-- Page Content -->
<div class="container">
<!-- About Section -->
    
    
     <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Our Goal</h3>
                    <h4 class="section-subheading text-muted">CourtMeTrue-Goal is to get back on track the  courting ideas in our world
towards to  successful and a happy relationship.</h4></h4>
                </div>
            </div>
            
                            
                            <a href="#">
                     <%= image_tag('romantic10.jpg', class: '-responsive center', width: '300x250') %>
                 </a>
    
    
    
   
    
    
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Why use courtmetrue?</h3>
                    <h4 class="section-subheading text-muted">Courtmetrue.com understands that we wants to love and to be loved, not to be played and taken advantage or to have a one  night affair. Women on here have thier courtship preferences and man on here have set thier expectations. </h4>
       

<p><h4>We want relationship to  be successful.  Why not try to court someone?</p></h4>
                </div>
            </div>
            
                            
                            
                            
                            
                            
                            
                           
    
    
    