
<% content_for :title do %>About<% end %>
<!-- Page Content -->
<div class="container">
<!-- About Section -->
    
     <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2>Goal</h2>
            <p>CourtMeTrue-Goal is to get back on track the  courting ideas in our world
towards to  successful and a happy relationship.</p> 
                </div>
                </div>
            </div>
   

        </header>

        <hr>
    
     <div class="container">

       
                <ol class="breadcrumb">
                   <h3><li><a href="index.html">Share with us your courting ideas.</a></h3>
                    </li>
                 <li class="active"> Here are some courting ideas to promote healthy interaction between you and your partner in a fun way to get to know each other better. HAVE A HAPPY AND FUN COURTSHIP!
.</li>       </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Courting ideas first row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                
                <p> " Visit a museum, art galerry or outdoor garden and theme park " </p>
                <p>Enjoy the oppurtunity to be outside and share interest, this can be fun and safe outing.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                
                <p> "Have a picnic in the park" </p>

<p>Woman  enjoyed planning the food she  could bring on the picnic, it is a good start to a descent conversation and get to know each other on how both of you could get along. </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                
                <p> "Go out in groups, like a road trip, karaoke or bbq food trip" </p>
<p>It's fun to spend time together on any activities with friends. Both of you will learn each other how your partner treated your friends.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Courting ideas second Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
               
                <p>"Spend time together of any activities  like sports  and work out"</p>

<p>Do sports  and work out together. It's good to know that both of you enjoying to keep fit and active. 
</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                
                <p>5.  "Long walks  and sight seeing"</p>
                <p> It's a way to learn to each other that both of enjoying the companionship.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                
                <p> "Meet the parents  and have a nice dinner with them"
                <p>This refers to the over-all act of courtship . This is a sign of respect especially for the parents . Parents can give advices too on how to win her heart.</p>

            </div>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    