<% content_for :title do %>How It Works<% end %>
     <!-- How it works page -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2>Getting Started</h2>
            <p>CourtMeTrue - is designed to every people who wants to build a "Strong Foundation" from the start towards to a sucessful and a happy relationship.</p>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>How it Works
                    </a>

        </header>

        <hr>



            <div class="container">


            <div class="row bs-wizard" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Join and create a profile. It's easy and fast.</div>
                </div>

                 

                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Connect online, through messaging, send interest and live chat.</div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Meet and learn each other through Courtship.</div>
                </div>
            </div>

  </div>
</div>

        
        <!-- Difference of courting and dating section-->

            <div class="container">
        <br>
        <div class="well">
            <h3 class="text-divider"><span>What's the difference  between courting and dating?</span></h3>
            <p>
                Courtship is a process of “getting serious” or “going steady” , it means that you and your partner are choosing to commit to one another exclusively and are looking to a possible future together. Both  of you sensed that it wasn’t just going to be about having casual sex or a bit of fun.
            </p>
            <p>
                Dating is a modern game where intimacy is practiced without  commitment to consider marrying the other person. Couples usually date of having fun and enjoying romantic attachments. Some may have a happy ending, with wedding bells but most are didnt last or it's end up failure like how divorce been risen up in our today's world.</p>
                    </div>
                </div>
            </div>
        </div>
     </div>



            <hr class="featurette-divider">

                <!-- First Featurette -->
            <div class="featurette" id="services">
                <%= image_tag('woman2.jpg', class: 'featurette-image img-circle img-responsive pull-left', width: '200x200') %>
                <h3 class="featurette-heading"> Learn about woman  here!
                    <span class="text-muted"></span>
                </h3>
                <p class="lead">Beautiful descent women who wants to love and to be loved by  a sincere man. They are driven to set thier expectation on how men will courted them and  could show that thier value are worth than money.</p>
            </div>

            <hr class="featurette-divider">



            <hr class="featurette-divider">


                     <!-- First Featurette -->
            <div class="featurette" id="services">
                <%= image_tag('men2.jpg', class: 'featurette-image img-circle img-responsive pull-left', width: '200x200') %>
                <h3 class="featurette-heading">Learn about men here! 
                    <span class="text-muted"></span>
                </h3>
                <p class="lead">Successful  real gentlemen who  looking  for a true partner in life. They are driven to set thier goals in building a strong foundation to commit for a possible future  together.  Its not just about sex, it's all about  commitment.</p>
            </div>

            <hr class="featurette-divider">




                    <!-- Second Featurette -->
            <div class="featurette" id="about">
                <%= image_tag('wedding3.jpg', class: 'featurette-image img-circle img-responsive pull-right', width: '200x200') %>
                <h3 class="featurette-heading">Find a spouse through courting.</span>
                </h3>
                <p class="lead">Since the most important descicions we will ever make is the descicion of "Marriage"</p>
            </div>

            <hr class="featurette-divider">


            <div class="row" style="background-image: url(images/romantic11.jpg)">
            <section class="success" id="about"style="color:white"

                    </div>
                </div>


        <!-- /.container -->

            <div class="well">
                    <div class="row">
                        <div class="col-md-8">
                            <h4><p>Find the love of your life here!</p></h4>
                        </div>
                        <div class="col-md-4">
                            <%= link_to 'Join Free Today', new_user_registration_path, class: 'btn btn-lg btn-default btn-block' %>
                        </div>
                    </div>
                </div>