<% content_for :title do %>Support<% end %>

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Start Bootstrap
            </a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>
        <li>
            <a href="#">Overview</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div class="container">

<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Forms
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Forms
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">

                        <form role="form">

                            <div class="form-group">
                                <label>Text Input</label>
                                <input class="form-control">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Text Input with Placeholder</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>

                            <div class="form-group">
                                <label>Static Control</label>
                                <p class="form-control-static">email@example.com</p>
                            </div>

                            <div class="form-group">
                                <label>File input</label>
                                <input type="file">
                            </div>

                            <div class="form-group">
                                <label>Text area</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Welcome to coutmetrue help center

            </h2>


            <div class="container">
        <br>
        <div class="well">
            <h3 class="text-divider"><span>Frequently asked questions, customer support solutions, and safety tips.</span></h3>
            <p><h5>
                COMMON QUESTIONS

How do I restore my deleted account?
                To start the process, please contact Customer Support and provide the email address you previously used to access the account. Your old profile information will still be there, but you will need to upload a new photo.</h5></p>
            <p><h5>How do I change my account type?
If you signed up with the wrong account type, please contact Customer Support and let us know which account type you would like.</h5></p>

<p><h5>Using a free Sugar Baby account on SeekingArrangement
As an attractive member you are able to use Seeking Arrangement 100% free of charge, however, you must always complete the below two steps.</h5></p>

        <p><h5>
                1. Your profile must be approved.
Please note: Profile approval may take 24 hours.
2. You will also need an approved public photo. Only premium members can communicate without a public photo.

            </h4></p>
        </div>
            </div>

            <ol class="breadcrumb">

                <h2><li class="active">General questions</li>
            </ol>
        </div>
    </div>

    <!-- /.row -->


    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Know your woman very well</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                           The reason why courtship still exists is woman value courtship so much. In this new generation, courting is already gone but if you want a long-lasting relationship with the woman you love, you should court, man!
                            <p>The most important part in courting is to get some idea on how to get on with her. The primary things that you should know about her  are including family, religion, friends and a little bit of her background</p>

                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Communication</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Communication plays a vital role in every relationship as it allows us to get connected to each other.
 <p></p>Sends her simple text messages. Texting plays a very nice role in courtship even a simple sweet goodnight and a good morning. </p>
                        </div>
                    </div>
                </div>



            <ol class="breadcrumb">

                <h2><li class="active">Photo maintainance</li>
            </ol>
        </div>
    </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Make effort</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                           Efforts counts more than anything that you can imagine. Most women will fall in love to a man that excels more efforts than those who are not.  <p> Make some time with her. Women value each and every single moment of their lives when it comes to love. Your time will be appreciated and it means a lot to her.</p> A surprise of a boque of flowers and chocolates. Surely, it melt woman's heart.</p>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Listen to her</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Sense her emotion. Woman loves a man who can sense what she feel. <p> As we all know women talks to much, they are really  expressive. They want to voice out what they really feel.Always give her the way to talk but if she runs out of topic anymore, then it’s time for you to take over. Just ask her questions  to continue the conversations or find some other ways just to continue the current flow.

.</p>

                        </div>
                    </div>
                </div>


    <ol class="breadcrumb">

                <h2><li class="active">Profile maintanaince</li>
            </ol>
        </div>
    </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Flirt but do not hurry in to intimacy </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Everything has its time. Emotional as well as physically, it can take a while before you open up or want to be together. <p> Flirt is an art, it can stroke some fire in the courtship and keep it from going dull.</p>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Keep the romance alive</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            A courtship should not be dull. This is vital for successful courtship.<p> Romance–is about blessing the other by giving of self . . . and that’s what true love is about, too. Couples who engage in an intensely physical relationship often lose out on this very point–because physical pleasure has become the focus of their relationship. </p>
                        </div>
                    </div>
                </div>



 <ol class="breadcrumb">

                <h2><li class="active">Payment information</li>
            </ol>
        </div>
    </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Spend time with her family, friends or relatives</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                           Spending time with her and the closest people in her life is a big plus. Women can sense  if men  are seriouse or not. Through making time with her and her family is a sign that you are really sincere and not just all about fun.
                        </div>
                    </div>
                </div>












        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h4><p>For more coaching, advices and tips about relationship issues, just Subscribe and  Join Now today.</h4>
                <div class="col-md-4">
                    <%= link_to 'Join Free Today', new_user_registration_path, class: 'btn btn-lg btn-default btn-block' %>
                </div>
            </div>
        </div>



