<% content_for :title do %>What's a Courtship<% end %>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="post-heading">

                   <h2 class="page-header" >What is courtship all about?</h2>

               </div>
           </div>
       </div>
   </div>
</header>

<!-- What is Courtship Content -->
<article>
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <p>Courtship advocates claim that allows for the two people to truly get to know each other in a more platonic setting without the pressures of physical intimacy or emotions clouding their view.</p>

<p>It is a choice to not emotionally give away your heart, piece by piece, to many others through casual dating relationships and instead to give your whole heart to your life partner.</p>

               <p>But Of course, this doesn't mean all courtships end in marriage, as reality dictates that some things simply aren't meant to be. It just means that people enter into courtships for the purpose of a serious, future-focused relationship .</p>
             
              
                <p> Even if you're not religious, courtship guidelines offer solid advice to the modern daters among us.</p>



                 <a href="#">
                     <%= image_tag('romantic10.jpg', class: '-responsive center', width: '300x250') %>
                 </a>



               <h4 class="section-heading">Let's talk about "Hook Up Culture"</h4>

               <p> We now live in an era where we can say that men and women are equal in rights and duties (though sometimes women are still seen as the weaker sex).
Hook up culture is fine but most of the time it ends up to one night stand.</p> 
                <p>
The dark truth about hook-ups though is that they don’t solve this loneliness. And, behind all the flirting and ego stroking, this loneliness is what we’re really trying to counteract when we seek out hook-ups.</p>

              
                <p>Of course, during the actual act of the hook-up we feel good. But when all is said and done. You’re still left feeling alone, and the woman who you should be with is either somewhere else or still yet to be found. Sadly, women might  feel guilty about having casual sex or worry that the man will not respect her because she had the audacity to do the exact same thing he did. I wish women didn't feel that way, but it does happen. </p>
               
               
               <h4 class="section-heading">Let's build a strong foundation</h4>
               
               
               <blockquote>How would you have a strong relationship if it’s built on a weak foundation from the start?

Seeing people easily breaking up is a sign that there isn’t enough strong bond with them.</blockquote>

               <p>In order to have a healthy, long-term relationship in the future, you need to become comfortable with yourself in building a strong foundation.</p>
                   <p>Crafting your identity around being able to pass through meaningless, transient encounters without much thought will start to shape who you are, what you look for, and where you derive both pleasure and happiness. No matter how much you think you can separate emotional and physical involvement, in the end, these things are inherently linked. Aimless hook-ups, will always be a losing game.</p>


           </div>
       </div>
   </div>
</article>


