<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @courtship_preference.name %>
</p>

<%= link_to 'Edit', edit_courtship_preference_path(@courtship_preference) %> |
<%= link_to 'Back', courtship_preferences_path %>
