
/*lynnb Custom Css */


.alert {
  margin-top: 30px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}
.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
    color: inherit;
}

.navbar-inverse {
    background-color: #ddd;
    border-color: #ddd;
}

.navbar-inverse .navbar-nav > li > a {
    color: #337AB7;
}

.navbar-brand {
        margin-left: -50;
    }

.navbar-header {
        margin-left: 50;
    }

.navbar-fixed-top .nav {
    padding: 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0;
}

@media(min-width:768px) {

    .navbar-fixed-top .navbar-brand {
        padding: 0px 0;
    }
}

.portfolio-item {
    margin-bottom: 25px;
}

/* for navbar dropdown */

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {

}
.dropdown {
    width:100px;
    background-color: #ddd;
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

/* avatar image in navbar */

.profile-image {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    height: 30px !important;;
}
