<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">


                <h3>CourtMeTrue</h3>
                <p>Subscribe on our coaching services  for a happy relationship.
                <p><%= link_to 'Subscribe Now!', page_path('about') %></p>
            </div>
            <div class="footer-col col-md-4">
                <h3>Connect With Us</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-col col-md-4">
                <h3>Our Company</h3>
                <p><%= link_to 'About Us', page_path('about') %></p>
                <p><%= link_to 'Dating Safety', page_path('datingsafety.html') %></p>
                <p><a href="http://startbootstrap.com">Support</a></p>
                <p><a href="http://startbootstrap.com">CMT Blog</a></p>
                <p><%= link_to 'Contact Us' ,  page_path('contact.html') %></p>

            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; Your Website 2014
            </div>
        </div>
    </div>
</div>
